{% extends 'base.html' %}

{% block content %}
<div class="main-content-wrapper my-5">
<div class="container">
    <div class="row">
    <div class="col-lg-3 order-lg-2 order-2">
        <!-- Sidebar Start -->
        <aside class="sidebar blog-sidebarr">
            <!-- Best Seller Product Area Start -->
            <div class="best-seller-product">
                <div class="section-title section-title--3">
                    <h2>Best Sellers</h2>
                </div>
                <div class="best-seller-product__carousel--4 owl-carousel js-best-seller-carousel-2 owl-loaded owl-drag">




                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-744px, 0px, 0px); transition: all 0.25s ease 0s; width: 992px;"><div class="owl-item" style="width: 248px;"><div class="best-seller-product__group--2">

                        <!-- Product Box Small Start -->
                        <div class="product-box product-box--small variable-product">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                        <!-- Product Box Small Start -->
                        <div class="product-box product-box--small variable-product">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                        <!-- Product Box Small Start -->
                        <div class="product-box product-box--small variable-product">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                        <!-- Product Box Small Start -->
                        <div class="product-box product-box--small variable-product">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                    </div></div><div class="owl-item" style="width: 248px;"><div class="best-seller-product__group--2">

                        <!-- Product Box Small Start -->
                        <div class="product-box variable-product product-box--small">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                        <!-- Product Box Small Start -->
                        <div class="product-box variable-product product-box--small">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                        <!-- Product Box Small Start -->
                        <div class="product-box variable-product product-box--small">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                        <!-- Product Box Small Start -->
                        <div class="product-box variable-product product-box--small">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                    </div></div><div class="owl-item" style="width: 248px;"><div class="best-seller-product__group--2">

                        <!-- Product Box Small Start -->
                        <div class="product-box variable-product product-box--small">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                        <!-- Product Box Small Start -->
                        <div class="product-box variable-product product-box--small">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                        <!-- Product Box Small Start -->
                        <div class="product-box variable-product product-box--small">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                        <!-- Product Box Small Start -->
                        <div class="product-box variable-product product-box--small">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                    </div></div><div class="owl-item active" style="width: 248px;"><div class="best-seller-product__group--2">

                        <!-- Product Box Small Start -->
                        <div class="product-box variable-product product-box--small">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                        <!-- Product Box Small Start -->
                        <div class="product-box variable-product product-box--small">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                        <!-- Product Box Small Start -->
                        <div class="product-box variable-product product-box--small">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                        <!-- Product Box Small Start -->
                        <div class="product-box variable-product product-box--small">
                            <div class="product-box__left">
                                <div class="product-box__image">
                                    <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                    <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                </div>
                            </div>
                            <div class="product-box__right">
                                <div class="product-box__desc">
                                    <a href="" class="product-box__title">Printed Summer Dress</a>
                                    <p class="product-box__price">
                                        <span class="sale-price">$17.50</span>
                                        <span class="regular-price">$20.50</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Product Box Small End -->

                    </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next disabled"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots disabled"></div></div>
            </div>
            <!-- Best Seller Product Area End -->
            <div class="category-widget mt--30">
                <!-- Category Search filter Start -->
                <div class="category-widget mb--30">
                    <div class="section-title section-title--3">
                        <h2>Категории</h2>
                    </div>
                    {%  for category in categories %}
                    <ul class="category-list">
                        <li ><a href="#"> {{ category.name }}</a></li>
                    </ul>
                    {% endfor %}
                </div>
                <!-- Category Search filter End -->
            </div>
        </aside>
        <!-- Sidebar End -->
    </div>
    <div class="col-lg-9 order-lg-1 order-1">
        <div class="single-products-area section-padding">
        <!-- Single Product Start -->
        <section class="single-product mb--20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <!-- Tab Content Start -->
                        <div class="tab-content product-thumb-large" id="myTabContent-3">
                            <div class="tab-pane fade show active" id="product-large-one">
                                <div class="single-product__img">
                                    {% if deal.image %}
                                    <img src="{{ deal.image.url }}"  alt="product" class="img-fluid">
                                    {% endif %}
                                </div>
                                <div class="product-action-wrapper pb--30">
                                <a href="{{ deal.link_to_shop }}" target="_blank" class="btn add-to-cart btn-style-2 ">
                                    К скидке <i class="fas fa-external-link-alt"></i>
                                </a>
                            </div>
                            </div>

                        </div>
                        <!-- Tab Content End -->
                    </div>
                    <div class="col-lg-9">
                        <!-- Single Product Content Start -->
                        <div class="single-product__content">
                            <h2 class="single-product__name">{{ deal.name }}</h2>
                            <div class="blog__meta">
                                <span><a href="#" class="blog__author"><i class="far fa-user"></i> {{ deal.author }}</a></span>
                                <span class="posted-on"><i class="far fa-calendar-alt"></i> {{ deal.create|date:"d.m.y/H:i" }}</span>
                                <a href="" class="Blog__comment-count"><i class="far fa-comments"></i> 05</a>
                            </div>
                            {%  if deal.shop %}
                                <div class="shop_info">
                                    <span>Скидка от <a href="#">{{ deal.shop.name }}</a></span>
                                </div>
                            {% endif %}
                            <div class="single-product__price">
                                <span class="sale-price">{{ deal.price }}</span>
                                {% if deal.oldprice %}
                                <span class="regular-price">{{ deal.oldprice }}</span>
                                {% endif %}
                                {% if deal.discount_procent %}
                                    <span class="discount-badge">- {{ deal.discount_procent }}%</span>
                                {% endif %}
                            </div>

                        </div>
                        <!-- Single Product Content End -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Single Product End -->

        <!-- Single Product Tab Start -->
        <section class="single-product-tab pb--30">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div>
                             {{ deal.description|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Single Product Tab End -->
    </div>
    </div>
    </div>
</div>
</div>
{% endblock content%}