{% extends 'base.html' %}

{% block content %}
<div class="main-content-wrapper">
    <div class="shop-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-lg-1 order-2">
                    <!-- Sidebar Start -->
                    <aside class="sidebar shop-sidebar">
                        <!-- Best Seller Product Area Start -->
                        <div class="best-seller-product">
                            <div class="section-title section-title--3">
                                <h2>Best Sellers</h2>
                            </div>
                            <div class="best-seller-product__carousel--4 owl-carousel js-best-seller-carousel-2 owl-loaded owl-drag">

                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-744px, 0px, 0px); transition: all 0.25s ease 0s; width: 992px;"><div class="owl-item" style="width: 248px;"><div class="best-seller-product__group--2">

                                    <!-- Product Box Small Start -->
                                    <div class="product-box product-box--small variable-product">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                    <!-- Product Box Small Start -->
                                    <div class="product-box product-box--small variable-product">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                    <!-- Product Box Small Start -->
                                    <div class="product-box product-box--small variable-product">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                    <!-- Product Box Small Start -->
                                    <div class="product-box product-box--small variable-product">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                </div></div><div class="owl-item" style="width: 248px;"><div class="best-seller-product__group--2">

                                    <!-- Product Box Small Start -->
                                    <div class="product-box variable-product product-box--small">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                    <!-- Product Box Small Start -->
                                    <div class="product-box variable-product product-box--small">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                    <!-- Product Box Small Start -->
                                    <div class="product-box variable-product product-box--small">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                    <!-- Product Box Small Start -->
                                    <div class="product-box variable-product product-box--small">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                </div></div><div class="owl-item" style="width: 248px;"><div class="best-seller-product__group--2">

                                    <!-- Product Box Small Start -->
                                    <div class="product-box variable-product product-box--small">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                    <!-- Product Box Small Start -->
                                    <div class="product-box variable-product product-box--small">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                    <!-- Product Box Small Start -->
                                    <div class="product-box variable-product product-box--small">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                    <!-- Product Box Small Start -->
                                    <div class="product-box variable-product product-box--small">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                </div></div><div class="owl-item active" style="width: 248px;"><div class="best-seller-product__group--2">

                                    <!-- Product Box Small Start -->
                                    <div class="product-box variable-product product-box--small">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                    <!-- Product Box Small Start -->
                                    <div class="product-box variable-product product-box--small">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                    <!-- Product Box Small Start -->
                                    <div class="product-box variable-product product-box--small">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                    <!-- Product Box Small Start -->
                                    <div class="product-box variable-product product-box--small">
                                        <div class="product-box__left">
                                            <div class="product-box__image">
                                                <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                            </div>
                                        </div>
                                        <div class="product-box__right">
                                            <div class="product-box__desc">
                                                <a href="" class="product-box__title">Printed Summer Dress</a>
                                                <p class="product-box__price">
                                                    <span class="sale-price">$17.50</span>
                                                    <span class="regular-price">$20.50</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Box Small End -->

                                </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next disabled"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots disabled"></div></div>
                        </div>
                        <!-- Best Seller Product Area End -->
                    </aside>
                    <!-- Sidebar End -->
                </div>
                <div class="col-lg-9 order-lg-2 order-1 mb-md--30">

                    <!-- Shop Layout Start -->
                    <div class="main-shop-wrapper">

                        <div class="product-list-view">
                            {% for deal in deals %}
                            <div class="product-box product-box--list variable-product">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="product-box__image">
                                            <img src="{% if deal.image %}{{ deal.image.url }}{% else %}{{ 'https://picsum.photos/275/275' }}{% endif %}" alt="product image" class="primary_image" height="245">
                                        </div>
                                        <a href="{{ deal.link_to_shop }}" target="_blank" class="btn add-to-cart btn-style-2">К скидке <i class="fas fa-external-link-alt"></i></a>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="product-box__meta">
                                            <a href="#" class="product-box__category">manufacturer</a>
                                        </div>
                                        <div class="product-box__desc">
                                            <a href="{{ deal.get_absolute_url }}" class="product-box__title">{{ deal.name }}</a>
                                            <span><a href="#" class="blog__author mr-3"><i class="far fa-user"></i> {{ deal.author }}</a></span>
                                            <span class="posted-on mr-3"><i class="far fa-calendar-alt"></i> {{ deal.create|date:"d.m.y (H:i)" }}</span>
                                            <span><a href="#"><i class="far fa-comments"></i> 05</a></span>
                                            {% if deal.shop %}
                                                <div class="shop_info">
                                                    <span>Скидка от <a href="#">{{ deal.shop.name }}</a></span>
                                                </div>
                                            {% endif %}
                                            <p class="product-box__price mt-3">
                                                <span class="sale-price">{{ deal.price }}</span>
                                                {% if deal.oldprice %}
                                                <span class="regular-price pr-3">{{ deal.oldprice }}</span>
                                                {% endif %}
                                                {% if deal.discount_procent %}
                                                <span class="discount-badge">- {{ deal.discount_procent }} %</span>
                                                {% endif %}
                                            </p>
                                            <p class="product-box__short-desc">{{ deal.description|truncatechars:120|safe }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="product-pagintaion d-flex flex-column flex-md-row justify-content-between align-items-md-center">
                            <p class="showing-product">Showing 1-12 of 13 item(s)</p>
                            <ul class="page-list">
                                <li class="prev"><a href=""><i class="fa fa-angle-left"></i> Previous</a></li>
                                <li class="current"><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li class="next"><a href="">Next <i class="fa fa-angle-right"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Shop Layout End -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}